<link href="~/Content/css/sidebar-menu.css" rel="stylesheet" />
<script src="~/Content/js/plugins/sidebar-menu.js"></script>
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">IMPORT</li>
            <li class="active"><a href="@Url.Action("Create", "File")"><i class="fa fa-link"></i> <span>Import package</span></a></li>
            
            <li><a href="@Url.Action("Index", "WorkingSet")"><i class="fa fa-link"></i> <span>Create Working Set</span></a></li>
            
            <li class="header">EDIT</li>
            <li><a href="@Url.Action("Manage", "WorkingSet")"><i class="fa fa-th"></i> <span style="color:#81fb04"><strong>Manage</strong></span></a></li>
            <li><a href="@Url.Action("Merge", "WorkingSet")"><i class="fa fa-pie-chart"></i> <span>Merge</span></a></li>
            
            @if (System.Web.HttpContext.Current.Session[BL.EV.KEY_UserSession] != null)
            {
                var user = (BL.UserData)System.Web.HttpContext.Current.Session[BL.EV.KEY_UserSession];
                <li><a href="@Url.Action("TransferColumnsToRecord", "WorkingSet")/?id=@user.Current_wsid"><i class="fa fa-pie-chart"></i> <span>=> Columns -> records</span></a></li>
                <li class="header">TRANSFORM</li>
                
                <li><a href="@Url.Action("Index", "Linkage")/?id=@user.Current_wsid"><i class="fa fa-share"></i> <span>Linkage</span></a></li>
                <li><a href="@Url.Action("select", "output")/?id=@user.Current_wsid"><i class="fa fa-share"></i> <span>Transform Mapping </span></a></li>
                <li><a href="@Url.Action("Index", "outputRuleMapper")/?wsid=@user.Current_wsid"><i class="fa fa-share"></i> <span>Transform Rule</span></a></li>
                <li><a href="@Url.Action("RunTransform", "outputRuleMapper")/?id=@user.Current_wsid"><i class="fa fa-share"></i> <span>Run Transform</span></a></li>
                <li><a href="@Url.Action("Index", "TestRule")/?wsid=@user.Current_wsid"><i class="fa fa-share"></i> <span>TestRule...</span></a></li>
                <script type="text/javascript">
                    var loaded_wsid=@user.Current_wsid;
                </script>
            }
            <li class="header">LOG</li>
            <li><a href="@Url.Action("MergeJobs", "WorkingSet")"><i class="fa fa-calendar"></i> <span>Merge Jobs</span></a></li>
            <li><a href="@Url.Action("TransformLog", "OutputRuleMapper")"><i class="fa fa-calendar"></i> <span>Transform Jobs</span></a></li>
            <li class="header">Other</li>
            <li><a href="@Url.Action("Index", "Output")"><i class="fa fa-calendar"></i> <span>Manage Output</span></a></li>
                        @*<li><a href="@Url.Action("Layout", "WorkingSet")"><i class="fa fa-link"></i> <span>Merge Job Logs</span></a></li>
    <li><a href="@Url.Action("Index", "SortAndAction")"><i class="fa fa-link"></i> <span>SortAndAction</span></a></li>
                        *@
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>
<script type="text/javascript">
    $(document).ready(function () {
        $.sidebarMenu($('.sidebar-menu'));
    });
</script>