<style type="text/css">
  #feedback { font-size: 1.4em; }
  .selectable .ui-selecting { background: #FECA40; }
  .selectable .ui-selected { background: #F39814; color: white; }
  .selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  .selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; }
</style>
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/js/plugins/jquery-ui.min.js"></script>
<script src="~/Content/js/plugins/tempo/tempo.min.js"></script>
<script src="~/scripts/custom/app.js"></script>
<script type="text/javascript">
    var files=@Html.Raw(ViewBag.Files);
    var linkageData=@Html.Raw(ViewBag.LinkageData);
    var $leftFile;
    var $rightFile;
    var leftCol;
    var rightCol;
    $(document).ready(function(){
        $leftFile=$('#leftFile');
        $rightFile=$('#rightFile');


        $leftFile.append($('<option>'));
        $rightFile.append($('<option>'));
        $(files).each(function(ind,item){
            var option_l=$('<option>').val(item.id).text(item.name);
            var option_r=$('<option>').val(item.id).text(item.name);
            $leftFile.append(option_l);
            $rightFile.append($(option_r));
        });
        initLinkageData();
    });
    function showColumnsLeft(isLeft){
        var $zone;
        if(isLeft){
            $zone=$("#leftColumns");
        }else{
            $zone=$("#rightColumns");
        }
        $zone.html('');
        var selectedFile;
        if(isLeft){
            selectedFile=$leftFile.val();
        }else{
            selectedFile=$rightFile.val();
        }
        $(files).each(function(ind,item){
            if(item.id==selectedFile){
                var $ul;
                if(isLeft){
                    $ul=$('<ol id="leftColSelect" class="selectable">');
                }else{
                    $ul=$('<ol id="rightColSelect" class="selectable">');
                }
                for (var i = 0; i < item.field.length; i++) {
                    var fieldname=item.field[i];
                    var $li=$('<li>').addClass('ui-widget-content').html(fieldname);
                    $ul.append($li);
                }
                $zone.append($ul);
                if(isLeft){
                    $('#leftColSelect').selectable()
                        .on( "selectableselected", function( event, ui ) {
                            leftCol=ui.selected.textContent;
                        } );
                }else{
                    $('#rightColSelect').selectable()
                        .on( "selectableselected", function( event, ui ) {
                            rightCol=ui.selected.textContent;
                        } );
                }

                return;
            }
        });
    }
    function add(){
        var leftid=$leftFile.val();
        var rightid=$rightFile.val();
        if(leftid==rightid){
            alert('Left and right source could not be the same');
            return;
        }
        var obj={};
        obj.firstId=leftid;
        obj.firstFilename=$leftFile.find('option:selected').text();
        obj.firstField=leftCol;

        obj.sndId=rightid;
        obj.sndFilename=$rightFile.find('option:selected').text();
        obj.sndField=rightCol;
        $.post('@Url.Action("createLinkageItem", "Linkage")/?id=@ViewBag.Id',obj)
            .done(function(data){
                console.log(obj);
                linkageData.push(obj);
                initLinkageData();
            })
            .fail();
    }
    function initLinkageData(){
        _createTableWithJsonObj_withTemplate(linkageData,'tSample',false);
    }
    function download(id) {
        $('#lblLoading').show();
        var jqxhr = $.get('@Config.Get_local_control_site()/JSON/testLinkage3/?id='+id)
                .done(function () {
                    @*var state='@ViewBag.WorkingSetInfo.State';
                    var county='@ViewBag.WorkingSetInfo.County';
                    var filename='@ViewBag.Filename';*@
                    window.location.href='@Config.Get_local_control_site()/File/Download_tmp/?state=&county=&filename=testLinkage.csv';

                })
                .fail(function (request, status, error) {
                    try {
                        var json = $.parseJSON(request.responseText);
                        alert(json.errorMessage);
                    } catch(e) {
                        alert('something bad happened');
                    }

                })
                .always(function () {
                    $('#lblLoading').hide();
                });
    }
    function deleteAll(id){
        $('#lblLoading').show();
        var jqxhr = $.post('@Url.Action("deleteAll", "Linkage")',{id:id})
                .done(function () {
                    @*var state='@ViewBag.WorkingSetInfo.State';
                    var county='@ViewBag.WorkingSetInfo.County';
                    var filename='@ViewBag.Filename';*@
                    //window.location.href='@Config.Get_local_control_site()/File/Download_tmp/?state=&county=&filename=testLinkage.csv';
                    $('#tbody tr:gt(0)').remove();
                    linkageData=[];
                })
                .fail(function (request, status, error) {
                    try {
                        var json = $.parseJSON(request.responseText);
                        alert(json.errorMessage);
                    } catch(e) {
                        alert('something bad happened');
                    }

                })
                .always(function () {
                    $('#lblLoading').hide();
                });
    }
</script>
<h2><i style="color:red">Please note: create wrong link data will make proccess run long time or may be crash the system</i></h2>
<table style="width:100%">
    <tr>
        <td><select id="leftFile" onchange="showColumnsLeft(true)"></select></td>
        <td><select id="rightFile" onchange="showColumnsLeft(false)"></select></td>
    </tr>
    <tr style="vertical-align: top">
        <td id="leftColumns">

        </td>
        <td id="rightColumns"></td>
    </tr>
</table>
<input type="button" value="Add" onclick="add()"/>
<input type="button" value="Download" onclick="download(@ViewBag.Id)" />
<input type="button" value="Clear" onclick="deleteAll(@ViewBag.Id)" />
<div id="lblLoading" style="display:none">Loading...</div>
<div id="tSample" style="display:none;width: 100%;overflow: scroll;background-color: #fff;">
    <table class="table">
        <tr id="header">
            <th>firstFilename</th>
            <th>First field</th>
            <th>Snd Filename</th>
            <th>Snd Field</th>
        </tr>
        <tbody id="tbody">
            <tr>
                <td>{{firstFilename}}</td>
                <td>{{firstField}}</td>
                <td>{{sndFilename}}</td>
                <td>{{sndField}}</td>
            </tr>
        </tbody>
    </table>
</div>
